{% extends "mainTemplate.html" %}


{% block head %}



{% endblock %}


{% block content %}

{% if methodName == "Linear Regression" %}
        {% set action = "/linear_regression" %}
             
{% elif methodName == "Logistic Regression" %}
        {%  set action = "/logistic_regression" %}
{% endif %}




<div class="container">

    {% if methodName %}

    <h1>{{methodName}}</h1>

    {% endif %}

    <div class="row">
        
        <div class="column train">
     <h2 class="pre-line"> Train </h2>
        {% if score %}
        <a> Train score: {{score}} </a>
        {% endif %}    

            
        <form method=post enctype=multipart/form-data action={{action}}>
            <input type=file name=file required>
            <button class ="button-style" type="submit" value="train" name="train">Run Train</button>
          </form>
        </div>
        
        <div class="column test">
        
        <h2 class="pre-line"> Test </h2>
        
        {% if score %}
            
        
             <form method=post  name="predictform" action={{action}}>
            
         
            {%for input in inputLabels%}

                <label class="form-text-style " >{{input}}</label><br>
                <input class="form-style" type="number" id={{input}} name={{input}} required><br>

            {% endfor %}
            
            

            <input class="button-style" type="submit" value="predict" name="predict">
             </form>
          
        
        {% endif %}

           
     
        </div>
    </div>
   
  
</div>
 <div class="lr-result">

  <h2 class="pre-line"> Result </h2>

    {% if result %}

    {%for output in outputLabels%}

    <h2>  {{output}} :=> {{result}}</h2>

            {% endfor %}

    


    {% endif %}
    </div>

{% endblock %}